body {
  font-family: sans-serif;
}

a {
  color: grey;
  text-decoration: none; 
}

a:hover {
  color: #CC0000;
}

.oh-the-top {
  margin: 5% 5% 5% 5%;
}

.row {
  padding-top: 5%;
  padding-bottom: 5%;
}

.poem-line {
  font-size: 2rem;
}

#stanza-num {
  font-size: 10.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
  text-align: center;
}